
/* css */

.websiteName{
  background-color: #555;
  color: white;
  text-align: center;
  padding-top:15vh;
  height: 40vh;
  font-size: 200;
}
}
.nav:hover{
  text-decoration: none;
}
a{
  text-decoration: none;
  text-decoration-color: #c5312d;
  color: black;
  font-weight: bold;
}
a:hover{
  text-decoration-color:#c5312d;
  color: black;
}
.icon{
  height: 5vh;
}
.body{
  margin: 5vh;
  text-align: left;
}
h2{
  text-align: center;
}
.smallHide:hover{
  text-decoration: underline;
  text-decoration-color: #c5312d;
}
button{
  background-color: #555;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
button:hover{
  border-color: #c5312D;
  background-color:#c5312D;
  color: white;
  box-shadow: 5px 5px 5px #555;
}
.hoverDemo:hover{
  color: #c5312d;
}
.nav-link:hover{
  text-decoration: underline;
  text-decoration-color: #c5312d;
}
#search{
  color: #c5312d;
  border-color: #c5312d;
}
#search:hover{
  color: white;
  border-color: #c5312d;
  background-color: #c5312D;
}
.searchSpace{
  border-color: #c5312d;
}
.searchSpace:active{
  background-color: white;
  color: black;
  border-color: #c5312d;
}
.searchSpace:hover{
  background-color: white;
  color: black;
  border-color: #c5312d;
}
.demoHead{
  background-color: #c5312D;
  min-height: 8vh;
  color: white;
  padding: 3vh;
   border-radius: 5px;
}
.demo{
border-style: solid;
border-color: #c5312D;
border-radius: 5px;
padding: 1vh;
list-style-type: none;
}
.intro{
  padding: 3vh;
}
@media (max-width: 780px){
  #mediaDemo{
    background-color: #555;
  }
}
@media (min-width: 480px) and (max-width: 780px){
 #operatorDemo1{
    background-color: #555;
  }
}
