
/* css */

.websiteName{
  background-color: #555;
  color: white;
  text-align: center;
  padding-top:20vh;
  height: 50vh;
  font-size: 200;
}
}
.nav:hover{
  text-decoration: none;
}
a{
  text-decoration: none;
  text-decoration-color: #c5312d;
  color: black;
  font-weight: bold;
}
a:hover{
  text-decoration-color:#c5312d;
  color: black;
}
#home{
color:black;
}
#home:hover{
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #c5312d;
}
.icon{
  height: 5vh;
}
.body{
  text-align: center;
  margin: 5vh;
}
.smallHide:hover{
  text-decoration: underline;
  text-decoration-color: #c5312d;
}
button{
  background-color: #555;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  border-color: #555;
}
button:hover{
  border-color: black;
  box-shadow: 5px 5px 5px #555;
}
.demoHover:hover{
  color: #c5312d;
}
.nav-link:hover{
  text-decoration: underline;
  text-decoration-color: #c5312d;
}
#search{
  color: #c5312d;
  border-color: #c5312d;
}
#search:hover{
  color: white;
  border-color: #c5312d;
  background-color: #c5312D;
}
